
/* mi primer código CSS para mi página Web personal*/

body {
  background-color:rgb(128, 200, 202)
}
p {
  font-family:sans-serif;
  line-height: 1.5em
  font-size: 120em
}
a {
  text-decoration: none
}
h1 {
  color:rgb(28, 173, 202);
  font-family: 'Amatic SC', cursive;
  font-size: 70px
  font-weight:bold;
}
h2 {
  color:rgb(249, 196, 192));
  font-family: 'Amatic SC', cursive;
  font-size: 40px
  font-weigth:normal;
}
h3 {
  color:rgb(219, 112, 147);
  font-family: 'Amatic SC', cursive;
  font-size: 35px
  font-weight:lighter;
}
.left {
  text-align: left;
}
.right
{
  text-align: right;
}
img {
  margin: 15px 15px 15px 15px
  border: 2px
  width: 300

}
