
/* mi primer código CSS para mi página Web personal*/

body {
  background-color:rgb(128, 200, 202)
}
p {
  font-family:"Josefin Slab", monospace;
}
h1 {
  color:rgb(28, 173, 202);
  font-family: 'Amatic SC', cursive;
  font-size: 52px
}
h2 {
  color:rgb(249, 196, 192));
  font-family: 'Amatic SC', cursive;
  font-size: 30px
}
h3 {
  color:rgb(219, 112, 147);
  font-family: 'Amatic SC', cursive;
  font-size: 22px
}
