
/* mi primer código CSS para mi página Web personal*/

body {
  background-color:rgb(128, 200, 202)
}
p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style:italic;
  line-height: normal;
  font-size: 70px
  margin-left:auto;
  margin-right: auto;
}
a {
  text-decoration: none
}
h1 {
  color:rgb(28, 173, 202);
  font-family: 'Amatic SC', cursive;
  font-size: 200px
  font-weight:bold;
}
h2 {
  color:rgb(249, 196, 192));
  font-family: 'Amatic SC', cursive;
  font-size: 170px
  font-weigth:normal;
}
h3 {
  color:rgb(219, 112, 147);
  font-family: 'Amatic SC', cursive;
  font-size: 90px
  font-weight:lighter;
}
.left {
  text-align: left;
}
.right
{
  text-align: right;
}
img {
  margin: 15px 15px 15px 15px
  border: 2px solid grey
  width: 300

}
